* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#fff7fb, #fff);
  text-align: center;
}

.title {
  color: #ff5fa2;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  max-width: 900px;
  margin: auto;
}

.card {
  height: 160px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  border-radius: 18px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

/* FRONT (TEXT) */
.card-front {
  background: #ffe4ef;
  flex-direction: column;
}

.card-front p {
  color: #444;
  font-size: 14px;
}

.card-front span {
  margin-top: 10px;
  font-size: 12px;
  color: #ff5fa2;
}

/* BACK (MEME) */
.card-back {
  background: white;
  transform: rotateY(180deg);
  overflow: hidden;
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTON */
.next-btn {
  margin-top: 30px;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  background: #ff5fa2;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
